  body {
  background-color:#003E78;
}

h3 {
  color: white;
  font size: 210%;
     text-decoration-line: underline;
  text-decoration-style: wavy;
    letter-spacing: 4px;
}
img {width: 20%;
  filter: grayscale(1);}
